@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */
.navbar {
    color: white;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

.nav-item {
    margin-left: 75px;
}

.dropdown-toggle,
.dropdown-menu {
    border-radius: 7px !important;
}

.dropdown-item:hover {
    transition: all 0.4s;
    color: white;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

/* Content-Home */
.jumbotron-home {
    background-image: url("https://wallpapercave.com/wp/wp2694966.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-top: 225px;
    width: 100%;
    height: 100vh;
    color: white;
}

.display-4 {
    font-family: 'Oregano', cursive;
}

.logo {
    width: 200px;
    height: 160px;
}

.logo-2 {
    width: 120px;
    height: 150px;
}

.container-home {
    overflow: auto;

    border: 4px solid rgba(17, 15, 15, 0.178);
    background-color: white;
    margin-top: -250px;
    border-radius: 30px;
}

.container-home div {
    width: 100%;
}

.button-klasemen {
    border-radius: 20px;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
}

.button-klasemen span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-klasemen span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-klasemen:hover span {
    padding-right: 25px;
}

.button-klasemen:hover span:after {
    opacity: 1;
    right: 0;
}

.container-next-match {
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    border: 3px solid rgb(17, 16, 16);
    border-radius: 15px;
    color: white;
}

.bg-next-match {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    border-radius: 15px;
    color: white;
    height: auto;
}


/* Page Matches */
.jumbotron-match {
    background-image: url("https://wallpapercave.com/wp/wp2694966.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.container-match {
    background-color: white;
    margin-top: 50px;
    border-radius: 30px;
    height: auto;
}

/* Page Klasemen */
.jumbotron-klasemen {
    background-image: url("https://wallpapercave.com/wp/wp2694966.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.container-klasemen {
    background-color: white;
    margin-top: 50px;
    border-radius: 30px;
    height: auto;
}

.position {
    width: 0;
}

.theadklasemen {
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    color: white;
}

.logoTeam {
    width: 30px;
    height: 30px;
}

/* Nice Scroll Look */
/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Tampilan Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 0.75rem;
    }

    .margin-fixed {
        margin-left: 50px;

    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    html {
        font-size: 0.7rem;
    }

    .margin-fixed {
        margin-top: -20px;

    }

    .logo {
        width: 150px;
        height: 150px;
    }

    .logoTeam {
        width: 20px;
        height: 20px;
    }

    .format-center {
        text-align: center;
    }
}

/* Tampilan HP */
@media screen and (max-width: 576px) {
    html {
        font-size: 0.6rem;
    }

    .jumbotron-home {

        padding-top: 150px;
    }

    .margin-fixed {
        margin-top: -20px;

    }

    .logo {
        width: 120px;
        height: 100px;
    }

    .logo-2 {
        width: 80px;
        height: 90px;
    }

    .logoTeam {
        width: 15px;
        height: 15px;
    }

    .format-center {
        text-align: center;
    }

    .smaller {
        width: 100px;
        padding: 10px;
    }
}

@media screen and (max-width: 290px) {
    .jumbotron-home {

        padding-top: 100px;
    }
}